
<div class="row d-flex mt-4">
    <div class="col-lg-2 fs-4 mt-5 mb-5">
        <p>-Hello!</p>
        <p>My name is <span class="fw-bold">Tomita</span></p>
        <P>
            I'm looking for a new job,<br>
            and interested in working with computers in the future!
        </P>
    </div>
    <div class="col-lg-8 text-center p-0">
        <img id="top-img" class="rounded-3" src="./assets/top-icon.jpg">
    </div>
    <div class="col-lg-2 align-self-end fs-4 mt-5 mb-5">
        <p>My strong area</p>
        <ul class="fs-5">
            <li>Web application</li>
            <li>iOS application</li>
        </ul>
    </div>
</div>