<h2 class="text-center border-top border-bottom border-dark mt-5">My deliverables</h2>
<!-- message-board-app -->
<div class="row d-flex  border-2 border-top border-bottom mt-5">
    <div class="col-lg-8">
        <img src="./assets/message-board-app.png">
    </div>
    <div class="col-lg-4 text-center">
        <a id="message-board-app" href="https://message-board-app-techtomita.herokuapp.com/"><h2>message-board-app</h2></a>
        <p>Ruby on Rails / JavaScript / MySQL</p>
        <div class="text-start mt-5">
            <h3 class="text-start">Overview</h3>
            <p>掲示板アプリ</p>
            <p>タイトルをつけて、メッセージの投稿ができます。</p>
        </div>
    </div>
</div>
<!-- Emotions & snap -->
<div class="row d-flex border-2 border-top border-bottom mt-5">
    <div class="col-lg-4 text-center">
        <a id="emotions-and-snap" href="https://emotions-and-snap.herokuapp.com/"><h2>Emotins & Snap</h2></a>
        <p>Ruby on Rails / JavaScript / MySQL / AWS</p>
        <div class="text-start mt-5">
            <h3 class="text-start">Overview</h3>
            <p>写真共有アプリ</p>
            <p>
                写真を取った時の気持ちを共有してみませんか？<br>
                写真と共にコメントを投稿できます。忘れられない日常の1コマをぜひ共有しましょう!
            </p>
        </div>
    </div>
    <div class="col-lg-8">
        <img src="./assets/emotions-and-snap.png">
    </div>
</div>
<!-- microposts -->
<div class="row d-flex border-2 border-top border-bottom mt-5">
    <div class="col-lg-8">
        <img src="./assets/microposts.png">
    </div>
    <div class="col-lg-4 text-center">
        <a id="microposts" href="https://micropost-app-tech-tomita.herokuapp.com/"><h2>microposts</h2></a>
        <p>Ruby on Rails / JavaScript / MySQL</p>
        <div class="text-start mt-5">
            <h3>Overview</h3>
            <p>メッセージ共有アプリ</p>
            <p>ユーザ登録をすることで、メッセージの投稿・お気に入り登録ができます。他ユーザをフォローして、メッセージの共有をしてみてはいかがですか?</p>
        </div>
    </div>
</div>