/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* navbar */
.nav-item {
    position: relative;
}
.nav-item::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    background: #000000;
    transform: scale(0, 2);
    transform-origin: right;
    transition: transform 0.5s;
}
.nav-item:hover::after {
    transform: scale(1, 1);
    transform-origin: left;
}

/* images */
img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

/* Works page */
#message-board-app, #emotions-and-snap, #microposts {
  color: black;
}
#message-board-app:hover {
  transition: color .3s;
  color: green;
}
#emotions-and-snap:hover {
    transition: color .3s;
    color: red;
}
#microposts:hover {
    transition: color .3s;
    color: blue;
}

/* About page */
#link {
    padding-top: 10vh;
}